<section id="education" class="section section-no-border custom-bg-color-1 m-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold m-0">Education</h2>
        <div class="owl-carousel nav-bottom custom-dots-style-1 mb-0" data-plugin-options="{'items': 1, 'loop': false, 'dots': true, 'nav': false}">
          <div class="row">
            <div class="col-lg-6 col-sm-6 pb-4">
              <div class="custom-box-details-2 bg-color-light custom-box-shadow-3">
                <i class="icon-graduation icons text-color-primary"></i>
                <h4 class="font-weight-semibold text-color-dark m-0">Pontifical Catholic University of Rio Grande do Sul - PUCRS</h4>
                <p class="custom-text-color-2 mb-1">Bachelor of Computer Science</p>
                <strong class="text-color-primary">2000-2006</strong>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 pb-4">
              <div class="custom-box-details-2 bg-color-light custom-box-shadow-3">
                <i class="icon-graduation icons text-color-primary"></i>
                <h4 class="font-weight-semibold text-color-dark m-0">Coursera</h4>
                <p class="custom-text-color-2 mb-1">Using Databases with Python</p>
                <strong class="text-color-primary">August, 2018</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 pb-4">
              <div class="custom-box-details-2 bg-color-light custom-box-shadow-3">
                <i class="icon-graduation icons text-color-primary"></i>
                <h4 class="font-weight-semibold text-color-dark m-0">Coursera</h4>
                <p class="custom-text-color-2 mb-1">Programming for Everybody (Getting Started with Python)</p>
                <strong class="text-color-primary">August, 2018</strong>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 pb-4">
              <div class="custom-box-details-2 bg-color-light custom-box-shadow-3">
                <i class="icon-graduation icons text-color-primary"></i>
                <h4 class="font-weight-semibold text-color-dark m-0">Coursera</h4>
                <p class="custom-text-color-2 mb-1">Python Data Structures</p>
                <strong class="text-color-primary">August, 2018</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 pb-4">
              <div class="custom-box-details-2 bg-color-light custom-box-shadow-3">
                <i class="icon-graduation icons text-color-primary"></i>
                <h4 class="font-weight-semibold text-color-dark m-0">Coursera</h4>
                <p class="custom-text-color-2 mb-1">Using Python to Access Web Data</p>
                <strong class="text-color-primary">August, 2018</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
