<div class="body">
  <app-header></app-header>
  <div role="main" class="main">
    <app-about-me></app-about-me>
    <app-personal-details></app-personal-details>
    <app-skills></app-skills>
    <app-experience></app-experience>
    <app-education></app-education>
    <!--<app-portfolio></app-portfolio>-->
    <app-recommendations></app-recommendations>
    <!--<app-blog></app-blog>-->
    <app-contact></app-contact>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
