<section id="recommendations" class="section section-no-border bg-color-primary m-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-color-quaternary font-weight-extra-bold text-uppercase">Recommendations</h2>
      </div>
      <div class="col-lg-12 p-0">
        <div class="owl-carousel custom-dots-style-1 custom-dots-color-1 custom-dots-position-1 mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'loop': false, 'nav': false, 'dots': true}">
          <div>
            <div class="col">
              <div class="testimonial custom-testimonial-style-1 testimonial-with-quotes mb-0">
                <blockquote class="pb-2">
                  <p class="custom-text-color-3">Emanuel is an extremely talented individual, he is also hard working, very knowledgeable and demonstrates wonderful commitment and attitude to achieving a great outcome on every task.</p>
                </blockquote>
                <div class="testimonial-author float-left">
                  <p><strong class="text-uppercase">Mick Dillon</strong><span class="custom-text-color-3">CEO and Founder at Trustedpeople.ie</span></p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col">
              <div class="testimonial custom-testimonial-style-1 testimonial-with-quotes mb-0">
                <blockquote class="pb-2">
                  <p class="custom-text-color-3">Emanuel is currently looking for more recommendations to fill this gap in the website. Asking recommendations is a delicate piece of work, so I'm still considering who is the next co worker I'm about to ask to say some cool stuff in english about me :).</p>
                </blockquote>
                <div class="testimonial-author float-left">
                  <p><strong class="text-uppercase">Myself</strong><span class="custom-text-color-3">Software Engineer</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
